.about-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 2rem;
    overflow-y: auto;
}

.about-content {
    text-align: center;
    max-width: 800px;
    padding: 0 2rem;
    margin-top: 2rem;
    z-index: 1;
}

.about-text {
    color: #fff;
    margin-top: 2rem;
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
    z-index: 1;
    position: relative;
}

.about-heading {
    color: #40ffaa;
    margin-top: 2rem;
}