/* Shared styles only */
.Page-Title {
    font-size: 48px;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.Page-Subtitle {
    font-size: 20px;
    z-index: 1;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.PillNav {
    z-index: 9999;
}